[run]
source = soupsavvy

[report]
omit =
    *__init__.py
    tests\*

exclude_lines =
    @overload
    @abstract*
    raise NotImplementedError
    pragma: no cover
    # Ignore imports
    from
    import
    def __repr__
    def __str__
    pass
    ...

sort = cover
show_missing = true
fail_under = 100
