[run]
source = soupsavvy
branch = True
concurrency = greenlet

[report]
omit =
    *__init__.py
    tests\*
    soupsavvy\api.py

exclude_lines =
    @overload
    @abstract*
    raise NotImplementedError
    # Ignore imports
    from
    import
    def __repr__
    def __str__
    pass
    \.\.\.
    deprecated
    _raise_not_implemented
    pragma: no cover

sort = cover
show_missing = true
fail_under = 100
