# .pre-commit-config.yaml
# ========================
# pip install pre-commit
# run pre-commit install in repo

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)(
              ^.bumpversion\.cfg|
              .*\.md$
          )
      - id: no-commit-to-branch
        args: [--branch, main, --pattern, "dev/[0-9]+.[0-9]+.[0-9]+"]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-ast
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: detect-private-key

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
      - id: black
        args: [--config, pyproject.toml]
        language_version: python3
        types: [python]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: [--config, tox.ini]
        language_version: python3
