name: Type checking

on:
  push:
    branches:
      - "main"
      - "dev/[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - "main"
      - "dev/[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python and Upgrade pip
        uses: ./.github/actions/setup_python
        with:
          python-version: "3.11"

      - name: Install mypy
        run: |
          python -m pip install $(grep mypy requirements_dev.txt | xargs)

      - name: Run mypy
        run: |
          python -m mypy . --ignore-missing-imports --no-incremental
